body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    background-color: #000;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-logo,
.navbar-link {
    color: #ff4757;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 20px;
    margin-top: 60px;
    background-color: #1c1c1c;
}


.movie-details {
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}


.movie-details img {
    width: 180px;
    border-radius: 12px;
    margin-bottom: 15px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.movie-details:hover img {
    transform: scale(2.05);
}


.movie-info {
    text-align: center;
}

.movie-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #ff6b6b;
}

.movie-info p {
    margin: 8px 0;
    font-size: 14px;
    color: #e0e0e0;
}

.movie-info strong {
    color: #ff4757;
}