* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #181818;
}


.genres-section {
    text-align: center;
    padding: 2rem 1rem;
    color: #ffffff;
    background-color: #282828;
}

.genres-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #e50914;
    text-shadow: 0 4px 15px rgba(241, 235, 235, 0.6);

}

.genres-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.genre-btn {
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genre-btn:hover {
    background-color: #e50914;
}

.genre-btn.active {
    background-color: #e50914;
}

#genreMoviesSection {
    padding: 2rem 1rem;
    background-color: #1c1c1c;
    color: #ffffff;
    display: none;
}

#genreMoviesSection h2 {
    text-align: center;
    color: #e50914;
    margin-bottom: 1rem;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.movie {
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: 150px;
    transition: transform 0.3s;
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    height: auto;
}

.movie h3 {
    padding: 0.5rem;
    font-size: 1rem;
    color: #ffffff;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .genre-btn {
        font-size: 0.9rem; 
        padding: 0.4rem 0.8rem;
    }

    .movie {
        width: 120px;
    }

    #genreMoviesSection h2 {
        font-size: 1.5rem; 
    }
}

@media (max-width: 480px) {
    .genres-section h2 {
        font-size: 1.5rem; 
    }

    .movie {
        width: 100px; 
    }

    .genre-btn {
        padding: 0.3rem 0.6rem; 
    }
}