* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../assets/img/Cinema\ movie\ .jpeg");
    background-size: 1500px 700px;   
}

.container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container span{
    font-size: 5em;
    font-weight: bold;
    color: #BEB9B6;
    text-shadow: 0 5px 5px rgba(236, 231, 231, 0.3);
}
.btn-box{
    height: 200px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.btn-box .btn{
    font-size: large;
    padding: 0.85em;
    max-width: 100%;
    width: 12em;
    cursor: pointer;
    border-radius: 2em;
    color: #BEB9B6;
    background:#ca0905 ;
    position: relative;
    transition: 0.25s ease-out;

    &:hover,
    &:focus {
      border-color: transparent;
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0 2px 6px #BEB9B6;

    }  

}

@media(max-width:430px) {
    .container {margin-block: 80px;}
    .container span{font-size:3em; padding:20px;}
    body {
        background-size: 600px 930px;   
    }
    .btn-box {flex-direction: column; }
}